.home-container {
  text-align: center;
  margin-top: 80px;
}

.home-container h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.home-buttons {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.home-buttons button {
  padding: 12px 25px;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  background: #3498db;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.home-buttons button:hover {
  background: #2980b9;
}